@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand.ttf');
    font-display: swap;
}

html, body {
    @apply h-full overflow-hidden;
}

.code {
    @apply text-white;
    color: white!important;
    background-color: black!important;
}
